.times-font {
  font-family: "Times New Roman", Times, serif;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e5ded4;
}

/* Sticky navbar styles */
nav.nav-scrolled {
  background-color: #c9b68a !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-top: 0 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

nav.nav-top {
  background-color: transparent;
  box-shadow: none;
}
.curated-card {
  border-radius: 0 0 10.898px 10.898px;
  background: linear-gradient(
    181deg,
    rgba(255, 255, 255, 0) 0.46%,
    rgba(56, 56, 56, 0.6) 99.54%
  );
  backdrop-filter: blur(10.889589309692383px);
}

.card {
  transition: opacity 0.4s ease;
  cursor: pointer;
}

/* default state */
#mobileStickyBtn {
  transition: 
    opacity 0.35s ease,
    transform 0.35s ease,
    background-color 0.3s ease;
}

/* when sticky becomes active */
.sticky-active {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #e5ded4;
  padding: 17px 0;

  opacity: 1;
  transform: translateY(0);
}

/* when not sticky (hidden state) */
#mobileStickyBtn:not(.sticky-active) {
  opacity: 0;
  transform: translateY(20px);
}
