<section
  class="bg-[url('/assets/images/pricing2.png')] w-full bg-cover bg-no-repeat bg-[50%_100%] bg-center lg:bg-center py-25 relative text-white"
>
  <div class="absolute inset-0 bg-[#00000099]"></div>
  <div class="max-w-[1336px] mx-auto px-8 relative z-20">
    <div class="lg:mb-20">
      <h1
        class="text-[2rem] lg:text-[3.375rem] times-font text-center leading-[100%] mb-4"
      >
        Availability by City
      </h1>
      <p class="text-xl text-center hidden lg:block">
        Appointments arranged with care
      </p>
    </div>
    <p class="text-xl hidden lg:block lg:w-[70ch] mb-12">
      Pleasure does not confirm arrangements through informal chat
      conversations. Instead, we work with a Booking Request flow to keep
      everything clear and efficient.
    </p>

    <div
      class="bg-black/20 lg:bg-transparent rounded-[16px] p-6 lg:p-0 mb-0 lg:mb-12"
    >
      <h2
        class="text-xs lg:text-[3rem] times-font text mb-6 lg:mb-0 uppercase lg:capitalize text-white/90"
      >
        In your request,<span class="hidden"> you</span> share:
      </h2>
      <ul
        class="flex list-disc lg:list-none flex flex-col lg:flex-row gap-1.75 lg:gap-6 pl-5 lg:pl-0 times-font"
      >
        <li class="text-lg lg:text-xl lg:uppercase leading-[27px]">city</li>
        <li class="text-lg lg:text-xl lg:uppercase leading-[27px]">
          date & time window
        </li>
        <li class="text-lg lg:text-xl lg:uppercase leading-[27px]">
          desired duration
        </li>
        <li class="text-lg lg:text-xl lg:uppercase leading-[27px]">
          setting (hotel or private)
        </li>
        <li class="text-lg lg:text-xl lg:uppercase leading-[27px]">
          2–3 profile preferences (recommended)
        </li>
      </ul>
    </div>
    <div>
      <p class="text-xl hidden lg:block lg:w-[68ch] mb-4">
        Based on this, you receive a discreet confirmation with the applicable
        guideline for your request.
      </p>
      <p class="text-xl hidden lg:block lg:w-[68ch]">
        This approach avoids repeated questions and allows us to confirm
        availability faster and more accurately.
      </p>
    </div>
  </div>
</section>
