<section class=" lg:py-25 ">
    <div class="max-w-[1035px] mx-auto px-8 relative z-20 ">
        <div class="border-t border-[#0000001A] lg:border-none py-0 lg:pb-12 mb-6 lg:mb-0 pt-12 lg:pt-0">
            <h2 class="text-[2.25rem] text-[3.5rem] text-center times-font leading-[45px]">Base rates & <br class="lg:hidden"> minimum duration</h2>
            <p class="lg:hidden text-sm font-extrathin text-center mt-4">Rates may vary based on context and planning details.</p>
        </div>

        <div class="lg:border-y border-[#0000001A] lg:py-12">
            <div class="grid grid-cols-1 lg:grid-cols-2 ">
                <div class="bg-white lg:bg-transparent p-8 lg:p-0 rounded-[20px] lg:rounded-none mb-12 lg:mb-0">
                    <p class="text-center lg:text-left text-xs lg:text-lg times-font uppercase lg:capitalize text-[#2E2C2A] lg:mb-4">Amsterdam (base guideline)</p>
                    <h3 class="text-[2.188rem] times-font text-center lg:text-left">
                        <span class="hidden lg:block">From €200 per hour</span>
                        <span class="lg:hidden">From €200</span>
                    </h3>
                    <div class="lg:mt-21.75 times-font w-[50ch]">
                        <p class="text-lg hidden lg:block mb-4">For requests within Amsterdam and immediate surroundings, the following base guideline applies.</p>
                        <p class="text-lg hidden lg:block">Minimum duration may apply depending on service and timing.</p>
                    </div>
                </div>
                <div class="hidden lg:block pl-21.75 border-l border-[#0000001A]">
                    <p class="text-lg w-[40ch] times-font">Rates may vary based on context and planning details, including:</p>
                    <ul class="list-disc pl-8 my-6">
                        <li class="text-lg times-font">Duration</li>
                        <li class="text-lg times-font">Selected service direction</li>
                        <li class="text-lg times-font">Hotel or private setting</li>
                        <li class="text-lg times-font">Time of day or specific planning requirements</li>
                    </ul>
                    <p class="text-lg w-[40ch] times-font">Longer arrangements are confirmed with adjusted guidelines to ensure comfort and availability</p>
                </div>
            </div>
        </div>
    </div>
</section>