<section class="py-20 lg:py-25">
  <div class="max-w-[1336px] mx-auto px-8">
    <h1
      class="text-[2rem] lg:text-[3.375rem] times-font text-center  leading-[100%] mb-4"
    >
      Why we recommend <br />
      <span class="lg:ml-90">2–3 preferences</span>
    </h1>
    <p class="text-sm lg:text-base text-center  lg:w-[90ch] mx-auto">
      Payment details are aligned after confirmation. We do not request
      unnecessary personal information and do not store data beyond what is
      required for coordination. All communication is handled calmly,
      professionally, and with respect for privacy.
    </p>
  </div>
</section>
<section class="py-20 lg:py-25">
  <div class="max-w-[1336px] mx-auto px-8">
    <h1
      class="text-[2rem] lg:text-[3.375rem] times-font text-center lg:text-left leading-[100%] mb-4"
    >
      Payment & direction
    </h1>
    <p class="text-sm lg:text-base text-center lg:text-left lg:w-[90ch]">
      Payment details are aligned after confirmation. We do not request
      unnecessary personal information and do not store data beyond what is
      required for coordination. All communication is handled calmly,
      professionally, and with respect for privacy.
    </p>
  </div>
</section>
