<section class="lg:py-25">
  <div class="max-w-[1336px] mx-auto px-8 relative z-20">
    <div class="hidden lg:flex justify-between items-end">
      <div>
        <h1 class="text-[3.375rem] times-font leading-[110%]">
          Service-specific guidelines
        </h1>
        <p class="text-lg mt-4 xl:w-[80ch]">
          Pricing may differ depending on the type of arrangement. Below are
          orientation points — final confirmation is always aligned discreetly
          via the Booking Request.
        </p>
      </div>
      <button
        class="text-lg border border-[#2E2C2A] py-2.5 px-8 rounded-full leading-[110%] cursor-pointer flex items-center justify-center gap-2 lg:hover:bg-[#2E2C2A] lg:hover:text-white duration-300"
      >
        View all Services >
      </button>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6 lg:mt-12">
      <div
        class="lg:border rounded-[14px] py-5 lg:py-8 px-6 bg-white lg:bg-transparent"
      >
        <h3 class="text-sm lg:text-base uppercase underline">
          VIP / Bespoke services
        </h3>
        <div class="flex items-center gap-3 my-6 lg:my-8">
          <p
            class="text-[3rem] lg:text-[3.375rem] leading-[100%] font-normal times-font"
          >
            €750 <span class="text-[#CFC7C4] hidden lg:inline">/</span>
          </p>
          <div>
            <p
              class="hidden lg:block text-sm lg:text-base text-[#888888] leading-[100%]"
            >
              Minimum
            </p>
            <p
              class="text-sm lg:text-base text-[#888888] leading-[100%] -mb-6 lg:-mb-0"
            >
              duration 3 hours
            </p>
          </div>
        </div>
        <div>
          <p class="text-sm lg:text-base leading-[110%] mb-4 w-[30ch]">
            Confirmed on request, based on setting and planning
          </p>
          <p class="text-sm lg:text-base leading-[110%]">
            Designed for premium settings (hotel lounges, dinner, events,
            private occasions)
          </p>
        </div>
      </div>

      <div
        class="lg:border rounded-[14px] py-5 lg:py-8 px-6 bg-white lg:bg-transparent"
      >
        <h3 class="text-sm lg:text-base uppercase underline">Dinner date</h3>
        <div class="flex items-center gap-3 my-6 lg:my-8">
          <p
            class="text-[3rem] lg:text-[3.375rem] leading-[100%] font-normal times-font"
          >
            €550 <span class="text-[#CFC7C4] hidden lg:inline">/</span>
          </p>
          <div>
            <p
              class="hidden lg:block text-sm lg:text-base text-[#888888] leading-[100%]"
            >
              Minimum
            </p>
            <p
              class="text-sm lg:text-base text-[#888888] leading-[100%] -mb-6 lg:-mb-0"
            >
              duration 3 hours
            </p>
          </div>
        </div>
        <div>
          <p class="text-sm lg:text-base leading-[110%] mb-4 w-[30ch]">
            Designed for a complete evening flow (arrival, dinner, relaxed
            pacing)
          </p>
          <p class="text-sm lg:text-base leading-[110%]">
            Additional costs (dinner, drinks, reservations) are at the client's
            expense and aligned briefly in advance
          </p>
        </div>
      </div>

      <div
        class="lg:border rounded-[14px] py-5 lg:py-8 px-6 bg-white lg:bg-transparent"
      >
        <h3 class="text-sm lg:text-base uppercase underline">
          Couples companionship
        </h3>
        <div class="flex items-center gap-3 my-6 lg:my-8">
          <p
            class="text-[3rem] lg:text-[3.375rem] leading-[100%] font-normal times-font"
          >
            €300 <span class="text-[#CFC7C4] hidden lg:inline">/</span>
          </p>
          <div>
            <p
              class="hidden lg:block text-sm lg:text-base text-[#888888] leading-[100%]"
            >
              per hour
            </p>
            <p
              class="text-sm lg:text-base text-[#888888] leading-[100%] -mb-6 lg:-mb-0"
            >
              minimum 1 hour
            </p>
          </div>
        </div>
        <div>
          <p class="text-sm lg:text-base leading-[110%] mb-4 w-[30ch]">
            Confirmed by appointment
          </p>
          <p class="text-sm lg:text-base leading-[110%]">
            Pricing depends on duration, setting, and dynamic. Clear boundaries
            aligned in advance for comfort and clarity
          </p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6 mt-6 bg-[#F2EEEA] lg:bg-transparent rounded-[14px] py-8 px-6 lg:py-0 lg:px-0">
      <div
        class="border-b border-[#0000001A] border-b lg:border lg:border-black lg:py-5 lg:py-8 lg:px-6 lg:rounded-[14px] pb-2.5"
      >
        <div>
          <h3
            class="text-sm lg:text-base uppercase underline mb-4 leading-[100%]"
          >
            Hotel service
          </h3>
          <p class="text-sm lg:text-base text-[#666666] leading-[100%]">
            Confirmed based on hotel/private setting and timing
          </p>
        </div>
        <div class="mt-0 lg:mt-25 hidden lg:block">
          <p class="text-sm lg:text-base leading-[110%] mb-3 lg:w-[30ch]">
            Hotel details are provided in the Booking Request
          </p>
          <p class="text-sm lg:text-base leading-[110%]">
            Final guideline is confirmed discreetly by appointment
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
