<section class="py-20 lg:py-25">
  <div class="max-w-[1035px] mx-auto px-8 relative z-20">
    <h1
      class="text-[2rem] lg:text-[3.375rem] times-font text-center leading-[100%]"
    >
      What is included (and what is not)
    </h1>
    <div
      class="lg:w-[820px] mx-auto lg:border grid grid-cols-1 lg:grid-cols-2 rounded-[14px] mt-8"
    >
      <div>
        <h3
          class="text-center border-b lg:border-r text-2xl lg:text-[2rem] times-font py-8"
        >
          Included
        </h3>
        <div class="lg:p-8 lg:border-r">
          <ul class="mt-3.5 space-y-4.5">
            <li
              class="flex items-start times-font gap-2.25 text-base lg:text-lg leading-[100%] border-b border-[#84766D33] lg:border-none py-4.5 lg:py-0"
            >
              <div
                class="w-4.75 h-4.75 lg:w-7.5 lg:h-7.5 bg-[#936B42] text-white flex-none flex justify-center items-center rounded-full lg:-mt-1"
              >
                <img
                  src="/assets/images/check2.svg"
                  alt="check"
                  class="w-3 h-auto lg:w-4"
                />
              </div>
              Discreet coordination by appointment
            </li>
            <li
              class="flex items-start times-font gap-2.25 text-base lg:text-lg leading-[100%] border-b border-[#84766D33] lg:border-none py-4.5 lg:py-0"
            >
              <div
                class="w-4.75 h-4.75 lg:w-7.5 lg:h-7.5 bg-[#936B42] text-white flex-none flex justify-center items-center rounded-full lg:-mt-1"
              >
                <img
                  src="/assets/images/check2.svg"
                  alt="check"
                  class="w-3 h-auto lg:w-4"
                />
              </div>
              Clear confirmation before meeting
            </li>
            <li
              class="flex items-start times-font gap-2.25 text-base lg:text-lg leading-[100%] border-b border-[#84766D33] lg:border-none py-4.5 lg:py-0"
            >
              <div
                class="w-4.75 h-4.75 lg:w-7.5 lg:h-7.5 bg-[#936B42] text-white flex-none flex justify-center items-center rounded-full lg:-mt-1"
              >
                <img
                  src="/assets/images/check2.svg"
                  alt="check"
                  class="w-3 h-auto lg:w-4"
                />
              </div>
              Professional communication and alignment
            </li>
            <li
              class="flex items-start times-font gap-2.25 text-base lg:text-lg leading-[100%] border-b border-[#84766D33] lg:border-none py-4.5 lg:py-0"
            >
              <div
                class="w-4.75 h-4.75 lg:w-7.5 lg:h-7.5 bg-[#936B42] text-white flex-none flex justify-center items-center rounded-full lg:-mt-1"
              >
                <img
                  src="/assets/images/check2.svg"
                  alt="check"
                  class="w-3 h-auto lg:w-4"
                />
              </div>
              Respect for privacy and boundaries
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h3
          class="text-center border-b text-2xl lg:text-[2rem] times-font py-8"
        >
          Not included
        </h3>
        <div class="lg:p-8">
          <ul class="mt-3.5 lg:space-y-4.5">
            <li
              class="flex items-start times-font gap-2.25 text-base lg:text-lg leading-[100%] border-b border-[#84766D33] lg:border-none py-4.5 lg:py-0"
            >
              <div class="w-4.75 h-4.75 lg:w-7.5 lg:h-7.5 bg-[#936B4233] text-white flex-none flex justify-center items-center rounded-full lg:-mt-1">
                <i class="text-black fa-solid fa-xmark"></i>
              </div>
              Hotel rooms or private venues
            </li>
            <li
              class="flex items-start times-font gap-2.25 text-base lg:text-lg leading-[100%] border-b border-[#84766D33] lg:border-none py-4.5 lg:py-0"
            >
              <div class="w-4.75 h-4.75 lg:w-7.5 lg:h-7.5 bg-[#936B4233] text-white flex-none flex justify-center items-center rounded-full lg:-mt-1">
                <i class="text-black fa-solid fa-xmark"></i>
              </div>
              Drinks, dinner, tickets, transport
            </li>
            <li
              class="flex items-start times-font gap-2.25 text-base lg:text-lg leading-[100%] border-b border-[#84766D33] lg:border-none py-4.5 lg:py-0"
            >
              <div class="w-4.75 h-4.75 lg:w-7.5 lg:h-7.5 bg-[#936B4233] text-white flex-none flex justify-center items-center rounded-full lg:-mt-1">
                <i class="text-black fa-solid fa-xmark"></i>
              </div>
              Entry fees, reservations, or event access
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="text-[13px] lg:text-base text-[#84766D] lg:w-[85ch] mx-auto text-center mt-8 leading-[100%]">Any additional costs related to the setting are covered by the client and are briefly aligned in advance — so the experience remains smooth and without surprises.</p>
  </div>
</section>
