<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Availability by City</title>
  </head>
  <body>
    <section
      class="bg-[url('/assets/images/avaibility-section.png')] w-full bg-cover bg-no-repeat bg-[50%_100%] bg-bottom lg:bg-center py-20 lg:py-25 relative"
    >
      <div class="absolute inset-0 bg-[#00000099]"></div>
      <div class="max-w-[1336px] mx-auto px-8 relative z-20">
        <div class="text-center mb-[55.38px] lg:mb-20">
          <h1
            class="text-white text-[2.356rem] lg:text-[3.375rem] leading-[100%] tracking-[-1.08px] times-font mb-4 lg:mb-[22px]"
          >
            Availability by City
          </h1>
          <p class="text-lg lg:text-xl text-[#FFFFFF] lg:leading-[100%] lg:tracking-[-0.4px]">
            Appointments arranged with care
          </p>
        </div>
        <div
          class="lg:w-[886px] lg:h-[240px] flex flex-col justify-between mb-13.75 lg:mb-20"
        >
          <p
            class="text-[15px] font-light lg:font-normal lg:text-xl text-white leading-[160%] lg:leading-normal mb-[23px] lg:mb-0"
          >
            The core of Pleasure is based in Amsterdam and its immediate surroundings, where timing and discretion can be managed most effectively. Requests for other cities are considered depending on planning and arrangement.
          </p>
          <p
            class="text-[15px] font-light lg:font-normal lg:text-xl text-white leading-[160%] lg:leading-normal"
          >
            Availability is handled by appointment and depends on timing, location, and the chosen arrangement. For the smoothest confirmation, we recommend selecting two to three profile preferences in your booking request. This allows us to align discreetly, even if a first preference is temporarily unavailable.
          </p>
        </div>
        <div>
          <h1
            class="times-font text-[33.7px] lg:text-5xl text-white leading-[100%] mb-8 lg:mb-4"
          >
            Cities may include:
          </h1>
          <ul
            class="text-white uppercase text-[17px] lg:text-xl times-font grid grid-cols-2 md:grid-cols-3 lg:flex lg:flex-wrap gap-9.5 lg:gap-[53px] leading-[100%]"
          >
            <li class="lg:underline"><a href="">Amsterdam</a></li>
            <li class="lg:underline"><a href="">Haarlem</a></li>
            <li class="lg:underline"><a href="">Amstelveen</a></li>
            <li class="lg:underline"><a href="">Schiphol</a></li>
            <li class="lg:underline"><a href="">Hoofddorp</a></li>
            <li class="lg:underline"><a href="">Zaandam</a></li>
            <li class="lg:underline"><a href="">Utrecht</a></li>
            <li class="lg:underline"><a href="">Rotterdam</a></li>
          </ul>
        </div>
        <div class="flex justify-center mt-10 lg:mt-20">
          <button
            class="w-full md:w-auto text-white text-lg border border-white py-3.5 px-[38px] rounded-full leading-[110%] cursor-pointer flex items-center justify-center gap-2 hover:bg-white hover:text-black active:bg-white/50 duration-300 transition "
          >
            All locations <i class="fa-solid fa-angle-right text-lg"></i>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
