<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Availability by City</title>
  </head>
  <body>
    <section
      class="bg-[url('/assets/images/avaibility-section.png')] w-full bg-cover bg-no-repeat bg-[50%_30%] bg-bottom lg:bg-center py-20 lg:py-25 relative"
    >
      <div class="absolute inset-0 bg-[#00000099]"></div>
      <div class="max-w-[1272px] mx-auto px-8 xl:px-0 relative z-20">
        <div class="text-center mb-[55.38px] lg:mb-20">
          <h1
            class="text-white text-[2.356rem] lg:text-[3.375rem] tracking-[-1.5px] times-font mb-4"
          >
            Availability by City
          </h1>
          <p class="text-lg lg:text-xl text-[#FFFFFF]">
            Appointments arranged with care
          </p>
        </div>
        <div
          class="lg:w-[886px] space-y-[23.12px] lg:space-y-6 mb-13.75 lg:mb-20"
        >
          <p
            class="text-[15px] font-light lg:font-normal lg:text-xl text-white"
          >
            With a high-class service, clarity matters. At the same time,
            arrangements vary depending on location, duration, and setting. For
            this reason, Pleasure works with clear pricing guidelines rather
            than rigid packages.
          </p>
          <p
            class="text-[15px] font-light lg:font-normal lg:text-xl text-white"
          >
            You may view the current structure at any time, or proceed directly
            with a booking request to receive a discreet confirmation tailored
            to your situation.
          </p>
        </div>
        <div>
          <h1
            class="times-font text-[33.7px] lg:text-5xl text-white mb-8 lg:mb-4"
          >
            Cities may include:
          </h1>
          <ul
            class="text-white uppercase text-[17px] lg:text-xl times-font grid grid-cols-2 lg:flex gap-9.5 lg:gap-[53px]"
          >
            <li class="lg:underline"><a href="">Amsterdam</a></li>
            <li class="lg:underline"><a href="">Haarlem</a></li>
            <li class="lg:underline"><a href="">Amstelveen</a></li>
            <li class="lg:underline"><a href="">Schiphol</a></li>
            <li class="lg:underline"><a href="">Hoofddorp</a></li>
            <li class="lg:underline"><a href="">Zaandam</a></li>
            <li class="lg:underline"><a href="">Utrecht</a></li>
            <li class="lg:underline"><a href="">Rotterdam</a></li>
          </ul>
        </div>
        <div class="flex justify-center mt-10 lg:mt-20">
          <button
            class="w-full lg:w-auto text-white text-lg border border-white py-3.5 px-[38px] rounded-full leading-[110%] cursor-pointer flex items-center justify-center gap-2  hover:backdrop-blur-[12px] duration-300 transition"
          >
            All locations <i class="fa-solid fa-angle-right text-lg"></i>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
