<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>

  <body class="bg-black">
    <footer class="bg-[#191919] text-white py-10 lg:py-20">
      <div class="max-w-7xl mx-auto px-4 xl:px-0">
        <div
          class="flex flex-col lg:flex-row lg:items-center lg:justify-between gap-8"
        >
          <div>
            <h3
              class="italic times-font leading-[160%] text-lg lg:text-2xl"
            >
              Stay in the loop
            </h3>
            <p class="text-[#BABABA] text-sm lg:text-base leading-[160%]">
              Get updates on new talent and upcoming shoots
            </p>
          </div>

          <div class="">
            <div class="flex items-center gap-4">
              <input
                type="email"
                placeholder="Your email"
                class="w-full lg:w-[263px] bg-transparent outline-none flex-1 text-xs lg:text-base leading-[160%] placeholder-white/60 border-b border-[#CFCFCF26] pb-2"
              />
              <button class="text-[8px] lg:text-lg flex items-center gap-1 cursor-pointer hover:text-[#C9B68A] duration-300 ease-in-out">
                Subscribe
                <i
                  class="fa-solid fa-arrow-right text-sm xl:text-[17px] -rotate-45"
                ></i>
              </button>
            </div>
            <p class="text-xs text-white mt-3">
              We respect your inbox. See our Privacy Policy.
            </p>
          </div>
        </div>

        <!--  MIDDLE LINKS  -->
        <div
          class="mt-8 lg:mt-20 flex flex-col lg:flex-row lg:gap-[97.4px] mb-8 lg:mb-20"
        >
          <h2
            class="col-spa-4 text-[2rem] tracking-[2px] font-semibold leading-[110%] mb-8 lg:mb-0"
          >
            PLEASURE
          </h2>

          <div class="w-full grid grid-cols-4  lg:grid-cols-4 roboto-font">
            <div>
              <h4
                class="font-semibold mb-4 text-xs lg:text-base leading-[160%]"
              >
                Explore
              </h4>
              <ul class="space-y-3 text-white text-[10px] lg:text-base font-light">
                <li><a href="#" class="leading-[160%]">All models</a></li>
                <li><a href="#" class="leading-[160%]">Services</a></li>
                <li><a href="#" class="leading-[160%]">Blog</a></li>
              </ul>
            </div>
            <div>
              <h4
                class="font-semibold mb-4 text-xs lg:text-base leading-[160%]"
              >
                Company
              </h4>
              <ul class="space-y-3 text-white text-[10px] lg:text-base font-light">
                <li><a href="#" class="leading-[160%]">About us</a></li>
                <li><a href="#" class="leading-[160%]">Contact</a></li>
                <li><a href="#" class="leading-[160%]">Locations</a></li>
              </ul>
            </div>

            <div>
              <h4
                class="font-semibold mb-4 text-xs lg:text-base leading-[160%]"
              >
                Connect
              </h4>
              <ul class="space-y-3 text-white text-[10px] lg:text-base font-light">
                <li><a href="#" class="leading-[160%]">WhatsApp</a></li>
                <li><a href="#" class="leading-[160%]">Email us</a></li>
                <li><a href="#" class="leading-[160%]">Book talent</a></li>
                <li><a href="#" class="leading-[160%]">Get support</a></li>
              </ul>
            </div>

            <div>
              <h4
                class="font-semibold mb-4 text-xs lg:text-base leading-[160%]"
              >
                Resources
              </h4>
              <ul class="space-y-3 text-white text-[10px] lg:text-base font-light">
                <li>
                  <a href="#" class="leading-[160%]">Talent guidelines</a>
                </li>
                <li><a href="#" class="leading-[160%]">Client handbook</a></li>
                <li><a href="#" class="leading-[160%]">FAQ</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="border-t border-[#CFCFCF26] mb-8"></div>

        <!--BOTTOM-->
        <div class="flex flex-col gap-6">
          <!-- Row 1 -->
          <div class="flex justify-between items-start lg:items-center">
            <div
              class="flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-6"
            >
              <p class="text-white text-xs lg:text-base w-[17ch]">
                © 2025 Pleasure
              </p>
              <div
                class="w-full flex flex-col lg:flex-row gap-3 lg:gap-6 text-xs lg:text-base text-white"
              >
                <a href="#" class="underline">Privacy policy</a>
                <a href="#" class="underline">Terms and conditions</a>
                <a href="#" class="underline">Cookie settings</a>
              </div>
            </div>

            <div
              class="flex items-center gap-3 text-white text-base lg:text-2xl"
            >
              <a href="#"
                ><i
                  class="fab fa-facebook hover:text-[#C9B68A] duration-300"
                ></i
              ></a>
              <a href="#"
                ><i
                  class="fab fa-instagram hover:text-[#C9B68A] duration-300"
                ></i
              ></a>
              <a href="#"
                ><i
                  class="fab fa-x-twitter hover:text-[#C9B68A] duration-300"
                ></i
              ></a>
              <a href="#"
                ><i
                  class="fab fa-linkedin hover:text-[#C9B68A] duration-300"
                ></i
              ></a>
              <a href="#"
                ><i class="fab fa-youtube hover:text-[#C9B68A] duration-300"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
