<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section
      class="bg-[url('/assets/images/hero.png')] h-screen w-full bg-cover bg-no-repeat bg-[position:65%_30%] lg:bg-top"
    >
      <div
        class="flex flex-col justify-end sm:justify-center h-full max-w-[1272px] mx-auto px-8 xl:px-0"
      >
        <h1
          class="text-[2.6125rem] sm:text-[4rem] lg:text-[5.25rem] times-font text-white leading-[100%] sm:w-[20ch] lg:w-[20ch]"
        >
          Private moments, <span class="italic ">curated with intention.</span>
        </h1>
        <button
          class="bg-white sm:bg-transparent text-black sm:text-white flex justify-center sm:justify-start items-center sm:items-end text-xl xl:text-2xl font-tight tracking-[-1px] leading-[110%] text-left mt-12 sm:mt-4 py-4 sm:py-0 px-6 sm:px-0 border border-white sm:border-none rounded-full mb-[2.22rem] cursor-pointer" "
        >
          Booking request
          <i
            class="fa-solid fa-arrow-right text-xl sm:text-[17px] -rotate-45 ml-2"
          ></i>
        </button>
      </div>
      
    </section>
  </body>
</html>
