<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <nav class="fixed w-full py-5 mt-[2.59rem]">
      <div
        class="relative text-white flex justify-between items-center max-w-[1272px] mx-auto px-8 xl:px-0"
      >
        <ul class="flex gap-6 xl:gap-9 text-lg xl:text-xl font-light leading-[110%]">
          <li><a href="/Profiles.html">Profiles</a></li>
          <li><a href="/Experiences.html">Experiences</a></li>
          <li><a href="/Cities.html">Cities</a></li>
          <li><a href="/About.html">About</a></li>
        </ul>

        <!-- Center Logo -->
        <p class="absolute left-[52.5%] -translate-x-1/2">
          <a
            href="/Index.html"
            class="text-[1.5rem] xl:text-[2rem] uppercase font-semibold tracking-[2px] leading-[110%]"
          >
            Pleasure
          </a>
        </p>

        <button class="text-xl xl:text-2xl tracking-[-1px] leading-[110%]">
          Booking request
          <i class="fa-solid fa-arrow-right text-sm xl:text-[17px] -rotate-45 ml-1"></i>
        </button>
      </div>
    </nav>
  </body>
</html>
