<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Next Step CTA</title>
  </head>

  <body>
    <section class="hidden lg:block max-w-[1272px] mx-auto px-8 xl:px-0 py-20">
      <div class="border-2 border-black rounded-2xl py-25 text-center">
        <p class="text-xl text-[#6A6A6A] mb-3 leading-[100%]">Next Step</p>
        <h2
          class="text-[3.375rem] text-black times-font leading-[100%] leading-[1px] mb-6"
        >
          Ready to submit a booking request?
        </h2>
        <p class="text-xl max-w-[664px] mx-auto mb-[43px]">
          Submit your Booking Request with time, location, and duration for a
          calm, clear confirmation.
        </p>

        <div class="flex items-center justify-center gap-10.5 items-center">
          <button
            class="flex items-center gap-1 bg-[#E5DED4] w-full lg:w-fit sm:bg-transparent text-black flex justify-center sm:justify-start items-center sm:items-end text-xl xl:text-2xl font-tight tracking-[-1px] leading-[110%] text-left cursor-pointer"
          >
            Booking request
            <i class="fa-solid fa-arrow-right text-2xl -rotate-45"></i>
          </button>

          <button
            class="flex items-center gap-1 bg-[#E5DED4] w-full lg:w-fit sm:bg-transparent text-black flex justify-center sm:justify-start items-center sm:items-end text-xl xl:text-xl font-tight tracking-[-1px] leading-[110%] text-left border-b border-black/80 cursor-pointer border-b border-black/80 pb-1.5"
          >
            Ask a question
            <i class="fa-solid fa-arrow-right text-2xl -rotate-45"></i>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
