
    <section
      class="bg-[url('assets/images/pricing-image.png')] w-full bg-cover bg-no-repeat bg-[position:48%_90%] lg:bg-center py-20 lg:py-25 relative"
    >
    <div class="absolute inset-0 bg-[#00000066]"></div>
      <div class="max-w-[1336px] mx-auto px-8 relative  z-20">
        <div class="times-font mb-[38px] lg:mb-[51px]">
          <h1
            class="text-white text-[2.357rem] lg:text-[3.375rem] leading-[100%] tracking-[-1.08px] mb-[23px] lg:mb-4 times-font lg:ml-[209px]"
          >
            Pricing guidance
          </h1>
          <p
            class="text-white text-2xl lg:text-[2.5rem] italic leading-[100%] tracking-[-0.8px] times-font lg:ml-[283px] lg:-mt-3"
          >
            Clear structure, without a price-driven atmosphere
          </p>
        </div>
        <div class="lg:w-[886px] space-y-[23.12px] lg:space-y-6 mb-12 lg:mb-[51px]">
          <p class="text-[15px] font-light lg:font-normal lg:text-xl text-white">
            With a high-class service, clarity matters. At the same time,
            arrangements vary depending on location, duration, and setting. For
            this reason, Pleasure works with clear pricing guidelines rather
            than rigid packages.
          </p>
          <p class="text-[15px] font-light lg:font-normal lg:text-xl text-white">
            You may view the current structure at any time, or proceed directly
            with a booking request to receive a discreet confirmation tailored
            to your situation.
          </p>
        </div>
        <div class="flex flex-col sm:flex-row justify-center items-center gap-4 lg:gap-9.25">
          <button
            class=" w-full lg:w-auto bg-white lg:bg-transparent py-5 lg:py-0 rounded-full text-xl xl:text-2xl tracking-[-1px] leading-[110%] lg:text-white cursor-pointer hover:bg-white/75 active:text-bg/50  hover:bg-white/75 lg:hover:bg-transparent lg:hover:text-white/75 lg:active:text-white/50 duration-300"
          >
            Booking request
            <i
              class="fa-solid fa-arrow-right text-sm xl:text-[17px] -rotate-45 ml-1"
            ></i>
          </button>
          <button
            class="w-full lg:w-auto text-white text-lg border border-white py-3.5 px-[38px] rounded-full leading-[110%] cursor-pointer flex items-center justify-center gap-2 lg:hover:bg-white lg:active:bg-white/75 lg:hover:text-black duration-300 backdrop-blur-[6px] lg:backdrop-blur-none"
          >
            View Pricing <i class="fa-solid fa-angle-right text-lg"></i>
          </button>
        </div>
      </div>
    </section>
  
