
    <section class="py-4.25 xl:py-25">
      <div class="max-w-[1336px] mx-auto px-8">
        <div>
          <h1
            class="text-[28px] lg:text-[3.375rem] leading-[100%] tracking-[-0.56px] lg:tracking-[-1.08px] times-font text-center"
          >
            Writings on Private <br class="hidden lg:block" />
            <span class="italic">Experience</span>
          </h1>
          <p
            class="text-center text-[#424242] text-[15px] lg:text-xl leading-[100%] mt-4"
          >
            Thoughtful observations on discretion and etiquette
          </p>
          <div
            class="xl:w-[955px] mx-auto mt-8 space-y-4 border-b border-[#D4C3AC] pb-8"
          >
            <p
              class="text-center text-[#424242] text-[15px] lg:text-xl leading-[100%]"
            >
              Discretion, style, and personal alignment are subjects that
              benefit from reflection. In our writings, we share insights on
              privacy, etiquette, and the art of a relaxed, well-paced evening.
            </p>
            <p
              class="text-center text-[#424242] text-[15px] lg:text-xl leading-[100%]"
            >
              These articles help set expectations and provide context for what
              Pleasure represents: a calm, adult, and considered approach to
              private companionship.
            </p>
          </div>
        </div>
        <!-- card -->
        <div
          class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-5 mt-[39px] lg:mt-16"
        >
          <article
            class="group relative w-full h-[325px] lg:h-[344px] rounded-[15px] cursor-pointer overflow-hidden border border-black bg-[#E5DED4] transition-colors duration-300"
          >
            <img
              src="assets/images/blog/blog-02.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover opacity-0 group-hover:opacity-100 transition-opacity duration-500"
            />

            <div
              class="absolute inset-0 bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
            ></div>

            <!-- Content (sits above image) -->
            <div
              class="relative z-10 p-[11px] lg:p-5 h-full flex flex-col justify-between"
            >
              <div>
                <p
                  class="text-xs text-[#6A6A6A] group-hover:text-[#D6D6D6] transition-colors duration-300 leading-[100%]"
                >
                  2 March 2024 Â· 4 min read
                </p>
                <h3
                  class="text-xl lg:text-2xl leading-[100%] times-font mt-2.5 lg:mt-3 text-black group-hover:text-white transition-colors duration-300"
                >
                  Why Privacy Changes the Way We Connect
                </h3>
              </div>

              <div class="">
                <p
                  class="text-xs text-[#6A6A6A] group-hover:text-[#D6D6D6] transition-colors duration-300"
                >
                  Privacy is not something added at the end.It is present from
                  the first interaction, shaping how people arrive, speak, and
                  connect.
                </p>
                <div class="flex justify-end mt-3.75 lg:mt-8">
                  <a
                    class="text-right text-[13px] text-black group-hover:text-white transition-colors duration-300 flex items-center"
                    >Read
                    <i
                      class="fa-solid fa-arrow-right text-sm -rotate-45 ml-1 mt-0.5"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </article>
          <article
            class="group relative w-full h-[325px] lg:h-[344px] rounded-[15px] cursor-pointer overflow-hidden border border-black bg-[#E5DED4] transition-colors duration-300"
          >
            <img
              src="assets/images/blog/blog-01.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover opacity-0 group-hover:opacity-100 transition-opacity duration-500"
            />

            <div
              class="absolute inset-0 bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
            ></div>

            <!-- Content (sits above image) -->
            <div
              class="relative z-10 p-[11px] lg:p-5 h-full flex flex-col justify-between"
            >
              <div>
                <p
                  class="text-xs text-[#6A6A6A] group-hover:text-[#D6D6D6] transition-colors duration-300 leading-[100%]"
                >
                  27 February 2024 Â· 3 min read
                </p>
                <h3
                  class="text-xl lg:text-2xl leading-[100%] times-font mt-2.5 lg:mt-3 text-black group-hover:text-white transition-colors duration-300"
                >
                  The Difference Between Access and Invitation
                </h3>
              </div>

              <div class="">
                <p
                  class="text-xs text-[#6A6A6A] group-hover:text-[#D6D6D6] transition-colors duration-300"
                >
                  Not every connection needs to be immediate. Some experiences
                  ask for space, context, and intention before they unfold.
                </p>
                <div class="flex justify-end mt-3.75 lg:mt-8">
                  <a
                    class="text-right text-[13px] text-black group-hover:text-white transition-colors duration-300 flex items-center"
                    >Read
                    <i
                      class="fa-solid fa-arrow-right text-sm -rotate-45 ml-1 mt-0.5"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </article>
          <article
            class="group relative w-full h-[325px] lg:h-[344px] rounded-[15px] cursor-pointer overflow-hidden border border-black bg-[#E5DED4] transition-colors duration-300"
          >
            <img
              src="assets/images/blog/blog-02.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover opacity-0 group-hover:opacity-100 transition-opacity duration-500"
            />

            <div
              class="absolute inset-0 bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
            ></div>

            <!-- Content (sits above image) -->
            <div
              class="relative z-10 p-[11px] lg:p-5 h-full flex flex-col justify-between"
            >
              <div>
                <p
                  class="text-xs text-[#6A6A6A] group-hover:text-[#D6D6D6] transition-colors duration-300 leading-[100%]"
                >
                  18 January 2024 Â· 5 min read
                </p>
                <h3
                  class="text-xl lg:text-2xl leading-[100%] times-font mt-2.5 lg:mt-3 text-black group-hover:text-white transition-colors duration-300"
                >
                  Why Slowness Creates Better Experiences
                </h3>
              </div>

              <div class="">
                <p
                  class="text-xs text-[#6A6A6A] group-hover:text-[#D6D6D6] transition-colors duration-300"
                >
                  Slowness changes how attention is held. When nothing is
                  rushed, moments have space to deepen and take shape naturally.
                </p>
                <div class="flex justify-end mt-3.75 lg:mt-8">
                  <a
                    class="text-right text-[13px] text-black group-hover:text-white transition-colors duration-300 flex items-center"
                    >Read
                    <i
                      class="fa-solid fa-arrow-right text-sm -rotate-45 ml-1 mt-0.5"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </article>
          <article
            class="group relative w-full h-[325px] lg:h-[344px] rounded-[15px] cursor-pointer overflow-hidden border border-black bg-[#E5DED4] transition-colors duration-300"
          >
            <img
              src="assets/images/blog/blog-01.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover opacity-0 group-hover:opacity-100 transition-opacity duration-500"
            />

            <div
              class="absolute inset-0 bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
            ></div>

            <!-- Content (sits above image) -->
            <div
              class="relative z-10 p-[11px] lg:p-5 h-full flex flex-col justify-between"
            >
              <div>
                <p
                  class="text-xs text-[#6A6A6A] group-hover:text-[#D6D6D6] transition-colors duration-300 leading-[100%]"
                >
                  10 January 2024 Â· 5 min read
                </p>
                <h3
                  class="text-xl lg:text-2xl leading-[100%] times-font mt-2.5 lg:mt-3 text-black group-hover:text-white transition-colors duration-300"
                >
                  When Slowness Becomes a Feature
                </h3>
              </div>

              <div class="">
                <p
                  class="text-xs text-[#6A6A6A] group-hover:text-[#D6D6D6] transition-colors duration-300"
                >
                  Time changes the quality of an experience.When moments are not
                  rushed, attention deepens and presence becomes
                  possible.Slowness allows things to happen as they should.
                </p>
                <div class="flex justify-end mt-3.75 lg:mt-8">
                  <a
                    class="text-right text-[13px] text-black group-hover:text-white transition-colors duration-300 flex items-center"
                    >Read
                    <i
                      class="fa-solid fa-arrow-right text-sm -rotate-45 ml-1 mt-0.5"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="flex justify-center  mt-5.5 lg:mt-6">
          <button
            class="w-full md:w-auto text-lg border border-black py-3.5 px-[38px] rounded-full leading-[110%] cursor-pointer flex items-center justify-center gap-2 duration-300 transition lg:hover:bg-black/76 lg:hover:text-white lg:active:bg-black/50 duration-300  "
          >
            View all Posts <i class="fa-solid fa-angle-right text-lg"></i>
          </button>
        </div>
      </div>
    </section>
  
